---
import Page from '../layouts/Page.astro';

---


<Page
  title="O projekte"
  description="Prečo vznikol, čo ponúka a ako môže pomôcť"
>

  <p>
    Tento projekt vznikol z mojej frustrácie z toho, akú veľkú váhu dnes
    dostávajú nesprávne informácie. Či už ide o cielené dezinformácie, alebo o
    nevedomé šírenie čohokoľvek, čo práve koluje sociálnymi sieťami, vidím, ako
    ľahko prehlušia trpezlivé, overené fakty. Chcem k tomu pridať pokojnejší a
    vecný hlas – protiváhu. Je to malé zrnko, ktoré možno časom vyrastie v
    niečo užitočné. A zároveň je to môj spôsob, ako sa osobne, aktívne podieľať
    na lepšom svete.
  </p>

  <h2>Čo je cieľom</h2>
  <ul>
    <li>zvyšovať racionálne uvažovanie a kritické myslenie u ľudí,</li>
    <li>vysvetľovať argumentačné fauly a manipulatívne techniky,</li>
    <li>ukazovať, ako si overovať tvrdenia a zdroje,</li>
    <li>ponúkať praktické návody a postupy ako odlíšiť zrná od pliev.</li>
  </ul>
  <p>
    Obsah tvorím jednoducho a priamo: výstižné články, rozbory tvrdení,
    príklady z praxe, prehľadné check-listy, mapy argumentov či mini-návody,
    ktoré si môžeš hneď vyskúšať. Prioritou je zrozumiteľnosť, nie senzácie.
  </p>

    <blockquote>
    <p>„Mimoriadne tvrdenia si vyžadujú mimoriadne dôkazy.“</p>
    <footer>— <cite>Carl Sagan</cite></footer>
  </blockquote>

  <h2>❌️ Čo tento web nie je</h2>
  <ul>
    <li>nie je to politická kampaň ani „boj proti iným“;</li>
    <li>nie je to spravodajstvo – nesnažím sa informovať o najnovšom dianí;</li>
    <li>nie som neomylný – vítam spätnú väzbu a opravy.</li>
  </ul>

  <h2>Komu je obsah určený</h2>
  <p>
    Prirodzene zvedavým ľuďom a všetkým, ktorí chcú lepšie rozumieť informáciám okolo seba a takto robiť pokojnejšie, informovanejšie
    rozhodnutia.
  </p>

  <h2>Zásady</h2>
  <ul>
    <li>transparentnosť – vždy uvádzam zdroje a kontext,</li>
    <li>zrozumiteľnosť – jasný jazyk a praktické príklady,</li>
    <li>férovosť – rešpekt k ľuďom s iným názorom,</li>
    <li>pomalosť pred rýchlosťou – radšej overiť, než prvý zdieľať.</li>
  </ul>


  <blockquote>
    <p>„Múdry človek porovnáva svoje tvrdenia s dôkazmi.“</p>
    <footer>— <cite>David Hume</cite></footer>
  </blockquote>

  <h2>Ako môžeš pomôcť</h2>
  <ul>
    <li>pošli spätnú väzbu alebo tip na tému,</li>
    <li>zdieľaj články, ktoré ti dávajú zmysel,</li>
    <li>upozorni ma na chybu – rád opravím.</li>
  </ul>

  <p>
    Ak s tebou niečo z tohto zarezonovalo, zostaň. Skús jeden článok, jednu
    metódu, jednu malú zmenu v spôsobe, ako čítaš správy. Aj malé kroky majú
    dlhodobo veľký efekt.
  </p>
</Page>
