---
import { Icon } from "astro-icon/components";
import Page from '../layouts/Page.astro';
---

<Page sectionClass="text-center" title="Kontakt">


    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-4xl mt-16">
        <div class="text-center items-center mt-2 space-x-2 text-black-600 justify-center">
            <p>
              Ak máš názor k nejakej z rozoberaných tém, najlepšie bude nechať komentár priamo v danom článku.
            </p>
            <p>Pre všeobecné návrhy, otázky či spoluprácu, napíš mi na:</p>
            <p class="flex flex-col gap-2 items-center justify-center">      
            <Icon class="text-black-600 w-8 h-8" name="uil:envelope" />
            <a href="mailto:mysli@kriticky.sk">mysli@kriticky.sk</a>
            </p>    
        </div>
    </div>
  </Page>
