---
import Page from '../layouts/Page.astro';
import { Image } from 'astro:assets';
import bd from '../assets/bdetector.webp';
import konsp from '../assets/konspiratori.webp';
---

<Page
  title="Odporúčané projekty"
  description="Tieto projekty ti pomôžu ďalej rozšíriť tvoje kritické myslenie alebo bezpečnejšie surfovať web."
>

  <div class="grid sm:grid-cols-1 md:grid-cols-1 mt-8 gap-12">
    <div class="flex flex-col md:flex-row gap-4 items-start md:items-center border-4 fancybox">
      <div class="mt-1 rounded-full p-1 w-12 h-12 shrink-0 overflow-hidden">
        <Image src={bd} alt="Bullshit Detector" widths={[48]} sizes="48px" class="w-full h-full object-cover rounded-full m-0" />
      </div>
      <div>
        <h3 class="font-semibold text-2xl m-0">Bullshit Detector</h3>
        <p class="text-slate-500 mt-2 leading-relaxed">
          Chráňte vašich blízkych pred nedôveryhodným obsahom
        </p>
        <p class="text-slate-500 mt-0 leading-relaxed">
          Pri návšteve webu s nedôveryhodným obsahom označí stránku ako potenciálne nebezpečnú. Bullshit Detector je prepojený s databázou projektu konspiratori.sk.
          Spornosť obsahu posudzuje odborná komisia. Rozšírenie má za cieľ varovať pred falošnými správami, konšpiračnými teóriami, hoaxmi a stránkami šíriacimi nenávisť a fašistické ideológie.
        </p>
        <p class="mt-3">
          <a href="https://www.websupport.sk/o-nas/bullshit-detector/" target="_blank" rel="noopener" class="btn btn-dark">
            Prejsť na projekt
          </a>
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-4 items-start md:items-center border-4 fancybox">
      <div class="mt-1 rounded-full p-1 w-12 h-12 shrink-0 overflow-hidden">
        <Image src={konsp} alt="Konspiratori.sk" widths={[48]} sizes="48px" class="w-full h-full object-cover rounded-full m-0" />
      </div>
      <div>
        <h3 class="font-semibold text-2xl m-0">Konspiratori.sk</h3>
        <p class="text-slate-500 mt-2 leading-relaxed">
          Verejná databáza webových stránok s neserióznym, klamlivým, podvodným, konšpiračným alebo propagandistickým obsahom.
        </p>
        <p class="text-slate-500 mt-0 leading-relaxed">
           Tvoríme zoznam webov a YouTube kanálov, pri ktorých členovia našej komisie majú pochybnosti o ich dôveryhodnosti a kvalite obsahu. Na týchto weboch a kanáloch neodporúčame inzerovať a zároveň na ne neodporúčame odkazovať z vašich portálov. Je iba na vás, či s naším zoznamom súhlasíte a či ho budete využívať. Zoznam webov bol zostavený členmi komisie na základe odborného posúdenia a podľa jasne stanovených kritérií.
        </p>
        <p class="mt-3">
          <a href="https://konspiratori.sk/" target="_blank" rel="noopener" class="btn btn-dark">
            Prejsť na projekt
          </a>
        </p>
      </div>
    </div>
  </div>

</Page>
