---
import Page from '../layouts/Page.astro';
import bdUrl from '../assets/bdetector.webp?url';
---

<Page
  title="Odporúčané projekty"
  description="Tieto projekty ti pomôžu ďalej rozšíriť tvoje kritické myslenie alebo bezpečnejšie surfovať web."
>

  <div class="grid sm:grid-cols-1 md:grid-cols-1 mt-8 gap-12">
    <div class="flex gap-4 items-start border-4 fancybox">
      <div class="mt-1 rounded-full p-1 w-12 h-12 shrink-0 overflow-hidden">
        <img src={bdUrl} alt="Bullshit Detector" class="w-full h-full object-cover rounded-full m-0" />
      </div>
      <div>
        <h3 class="font-semibold text-2xl m-0">Bullshit Detector</h3>
        <p class="text-slate-500 mt-2 leading-relaxed">
          Chráňte vašich blízkych pred nedôveryhodným obsahom
        </p>
        <p class="text-slate-500 mt-0 leading-relaxed">
          Pri návšteve webu s nedôveryhodným obsahom označí stránku ako potenciálne nebezpečnú. Bullshit Detector je prepojený s databázou projektu konspiratori.sk.
          Spornosť obsahu posudzuje odborná komisia. Rozšírenie má za cieľ varovať pred falošnými správami, konšpiračnými teóriami, hoaxmi a stránkami šíriacimi nenávisť a fašistické ideológie.
        </p>
        <p class="mt-3">
          <a href="https://www.websupport.sk/o-nas/bullshit-detector/" target="_blank" rel="noopener" class="btn btn-dark">
            Prejsť na projekt
          </a>
        </p>
      </div>
    </div>
  </div>

</Page>
