---
// Minimal giscus embed component.
// Make sure GitHub Discussions are enabled on the repo and the giscus app is installed.
// Repo: Ljuk67/kriticky
---

<section aria-label="Komentáre">
  <script src="https://giscus.app/client.js"
        data-repo="ljuk67/kriticky"
        data-repo-id="R_kgDOPsFTNA"
        data-category="Comments"
        data-category-id="DIC_kwDOPsFTNM4CvULV"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_macchiato"
        data-lang="sk"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
  </script>
  <noscript>Na zobrazenie komentárov povoľ JavaScript.</noscript>
</section>
